<cs-container>
  <div class="col-sm-offset-2 col-sm-2">
    <dynamic-separator></dynamic-separator>
    <paragraph-top>
      <div ng-repeat="person in people" ng-click="select(person)">
        <p>{{ person.name }}</p>
        <p ng-bind-html="person.description"></p>
      </div>
    </paragraph-top>
  </div>

  <div class="col-sm-2">
    <dynamic-separator></dynamic-separator>
    <paragraph-top>
      <img
        class="img-responsive"
        alt="{{ selected.person.name }}"
        ng-src="/images/people/{{ selected.person.photo }}.png">
    </paragraph-top>

    <logo-static></logo-static>
  </div>

  <div class="col-sm-2">
    <dynamic-separator></dynamic-separator>
    <paragraph-top>
      <div ng-bind-html="selected.person.interview"></div>
    </paragraph-top>
    <static-navigation></static-navigation>
  </div>
</cs-container>
