<cs-container>
  <div class="col-sm-offset-2 col-sm-2 scroll">
    <dynamic-separator></dynamic-separator>
    <paragraph-top class="scroll">
      <div
        ng-repeat="person in people"
        ng-click="select(person)"
        class="thema-person-card"
        ng-class="{ active: selected.person === person }">
        <span class="thema-person-name">{{ person.name }}</span>
        <div ng-bind-html="person.description"></div>
      </div>
    </paragraph-top>
  </div>

  <div class="col-sm-2">
    <dynamic-separator></dynamic-separator>
    <paragraph-top>
      <img
        class="img-responsive"
        alt="{{ selected.person.name }}"
        ng-src="/images/people/{{ selected.person.photo }}.png">
    </paragraph-top>

    <logo-static></logo-static>
  </div>

  <div class="col-sm-2 scroll">
    <dynamic-separator></dynamic-separator>
    <paragraph-top class="scroll">
      <div ng-bind-html="selected.person.interview"></div>
    </paragraph-top>
    <static-navigation></static-navigation>
  </div>
</cs-container>
