<cs-container>
  <div class="col-sm-2">
    <hiding-side-navigation></hiding-side-navigation>
  </div>

  <div class="col-sm-2 scroll">
    <separator-top></separator-top>
    <paragraph-top class="scroll">
      <div ng-bind-html="selected.left.interview"></div>
    </paragraph-top>
  </div>

  <div class="col-sm-2">
    <separator-top></separator-top>
    <paragraph-top>
      <div
        ng-repeat="person in people"
        ng-click="select(person)"
        class="thema-person-card"
        ng-class="{ 'active': selected.left === person || selected.right === person, 'thema-person-card-left': person.side === 'left', 'thema-person-card-right': person.side === 'right' }">
        <span class="thema-person-name">{{ person.name }}</span>
        <div ng-bind-html="person.description"></div>
      </div>
    </paragraph-top>

    <logo-static></logo-static>
  </div>

  <div class="col-sm-2 scroll">
    <separator-top></separator-top>
    <paragraph-top class="scroll">
      <div ng-bind-html="selected.right.interview"></div>
    </paragraph-top>
    <static-navigation></static-navigation>
  </div>
</cs-container>
