@font-face {
    font-family: 'museo_slab';
    src: url('fonts/exljbris_-_museoslab-500-webfont.eot');
    src: url('fonts/exljbris_-_museoslab-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exljbris_-_museoslab-500-webfont.woff2') format('woff2'),
         url('fonts/exljbris_-_museoslab-500-webfont.woff') format('woff'),
         url('fonts/exljbris_-_museoslab-500-webfont.ttf') format('truetype'),
         url('fonts/exljbris_-_museoslab-500-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}
