@import 'fonts.scss';

$grid-columns: 10;
$font-family-sans-serif: 'museo_slab';
$text-color: #000;
$brand-info: #00C8BE;
$brand-danger: #eb0000;
$alternate-color: #6F6F6F;
$link-color: $text-color;
$link-hover-color: $brand-info;
$link-hover-decoration: none;

@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.cs-logo {
  width: 15rem;
  height: 20rem;
  position: absolute;
  top: 27.4rem;
  margin-left: -7.5rem;
  display: inline-block;
  background-image: url("/images/logo.png");
  background-size: 15rem;
  background-repeat: no-repeat;
}

.cs-logo-top {
  @extend .cs-logo;
  top: 5rem;
}

.cs-logo-static {
  @extend .cs-logo;
  top: -7.7rem;
}

.cs-nav {
  position: absolute;
  top: 100rem;
  list-style-type: none;
}

.cs-nav-static {
  @extend .cs-nav;
  top: 5rem;
}

.cs-nav-side {
  position: absolute;
  top: 18rem;
  list-style-type: none;
  color: $alternate-color;

  a {
    color: $alternate-color;
  }

  a:hover {
    color: $brand-info;
  }

  h4 {
    margin-top: 0px;
  }
}

.cs-nav-side-dynamic {
  @extend .cs-nav-side;
  top: 100rem;
}

.cs-nav-side-hover-area {
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 25%;
}

.cs-separator {
  width: 100%;
  height: 1rem;
  position: relative;
  top: 35rem;
  margin: auto;
  background-image: url("/images/separator.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.cs-separator-top {
  @extend .cs-separator;
  top: 18rem;
}

.cs-paragraph {
  position: relative;
  top: 100rem;
  padding-bottom: 5rem;
}

.home-text {
  color: $alternate-color;
}

.thema-person-card-right {
  @extend .text-right;
}
