$brand-info: #2de6e6;
$brand-danger: #eb0000;
$link-hover-color: $brand-info;
$link-hover-decoration: none;

@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.cs-logo {
  background: #000;
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 30rem;
  margin-left: -5rem;
  display: inline-block;
}

.cs-logo-top {
  @extend .cs-logo;
  top: 5rem;
}

.cs-nav {
  position: absolute;
  top: 100rem;
}

.cs-nav-static {
  @extend .cs-nav;
  top: 5rem;
}

.cs-separator {
  background: blue;
  width: 20rem;
  height: 0.2rem;
  position: relative;
  top: 35rem;
  margin: auto;
}

.cs-home-text {
  position: relative;
  top: 100rem;
  padding-bottom: 5rem;
}
