$body-bg: #001a29;
$text-color: #fff;
$brand-info: #2de6e6;
$brand-danger: #eb0000;
$link-color: $text-color;
$link-hover-color: $brand-info;
$link-hover-decoration: none;

@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';
